.about-us {
  min-height: 1293px;
  background-color: #121723;
  color: #fff;
  padding-top: 94px;
}

.about-us__row {
  display: flex;
}

.about-us__title {
  color: #fff;
}

.about-us__first-line {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #a1a6b4;
  margin-bottom: 8px;
}

.about-us__text {
  font-size: 20px;
  line-height: 160%;
  color: #a1a6b4;
  margin-bottom: 30px;
}

.about-us__right {
  display: flex;
}

.about-us__spiral {
  margin-right: 30px;
}

.slider-wrapper {
  margin-bottom: 30px;
}

.splide__arrow--prev {
  transform: translateX(-100px);
}

.splide__arrow--next {
  transform: translateX(50px);
}

.about-us-item__image {
  margin-bottom: 30px;
}

.about-us-item__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 8px;
}

.about-us-item__text {
  font-size: 16px;
  line-height: 24px;
  color: #a1a6b4;
}

.form {
  display: flex;
  justify-content: stretch;
  flex-direction: column;
}

.form__row {
  display: flex;
  justify-content: space-between;
  justify-items: space-between;
  max-width: 920px;
}

.form__input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border: 1px solid #ffffff;
  border-radius: 30px;
  color: #a1a6b4;
  background: transparent;
  min-width: 445px;
  min-height: 70px;
  padding: 32px 25px;
  margin-bottom: 30px;
}

.form__input--big {
  padding: 30px 10px 10px 32px;
  gap: 10px;
  flex-grow: 1;
  min-height: 150px;
}

.form__submin-btn {
  margin-bottom: 30px;
}

.form__agree-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
}
