.footer {
  min-height: 323px;
  background-color: #292e39;
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: stretch;
  align-self: stretch;
  align-items: stretch;
  flex-grow: 10;
}

.footer__row {
  display: flex;
  width: 100%;
  margin-bottom: 70px;
}

.footer__column-left {
  min-width: 60%;
}

.footer__column-right {
  width: 400px;
}

.footer__logo {
  width: 160px;
  margin-bottom: 20px;
}

.footer__social-list {
  display: flex;
  list-style: none;
}

.footer__social-list-item {
  margin-right: 21px;
}

.footer-list {
  display: flex;
  color: #fff;
  list-style: none;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 120px;
}

.footer-list-item {
  margin-right: 109px;
  margin-bottom: 20px;
}

.footer-list-item:nth-last-child(-n+3) {
  margin-right: 0;
}

.footer__long-wave {
  margin-bottom: 10px;
}

.footer__text {
  font-size: 16px;
  line-height: 103.34%;
  color: #a1a6b4;
  align-self: center;
}


/* ...
// all rules outside of @media queries apply to devices 1201px and above
... */

@media (max-width: 1200px) {
  /* ...1024
	// rules here apply to devices from 993px to 1200px (inclusive)
	... */
  .footer__column-left {
    min-width: 50%;
  }
}
@media (max-width: 992px) {
  /* ...768
	// rules here apply to devices from 761px to 992px (inclusive)
	... */
}
@media (max-width: 760px) {
  /* ...320
	// rules here apply to devices from 0px to 760px (inclusive)
	... */
}
