* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: 'Muller', sans-serif;
}

.container {
  max-width: 1110px;
  margin-right: auto;
  margin-left: auto;
}

a {
  text-decoration: none;
  color: #121723;
}

a:hover{
  color: #6D31EE;
}

a:focus{
  background-color: #AA9DFA;
  color: white;
}

a:active{
  color: #4F28A5;
  background-color: transparent;
}