* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: 'Muller', sans-serif;
}

.container {
  max-width: 1110px;
  margin-right: auto;
  margin-left: auto;
  width: 1110px;
}

a {
  text-decoration: none;
  color: #121723;
}

a:hover {
  color: #6d31ee;
}

a:focus {
  background-color: #aa9dfa;
  color: white;
}

a:active {
  color: #4f28a5;
  background-color: transparent;
}

.title {
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color: #121723;
  margin-bottom: 12px;
}
