.header {
  min-height: 80px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 160px;
}


.header-nav{
  display: flex;
}

.header-nav__list {
  display: flex;
  list-style: none;
  align-items: center;
}

.header__list-item {
  margin-right: 58px;
}