.hero {
  min-height: 450px;
}

.hero__content {
  display: flex;
  justify-content: space-between;
}

.hero__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
  color: #121723;
  padding-top: 92px;
  margin-bottom: 14px;
  margin-top: 0;
}

.hero__title-accent {
  font-weight: 400;
  font-style: italic;
}

.hero__text {
  font-size: 16px;
  line-height: 150%;
  color: #121723;
  max-width: 635px;
  margin-bottom: 45px;
}

.hero__link {
  width: 245px;
  height: 70px;
  background: #6d31ee;
  border-radius: 40px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

.hero__link:hover {
  background: #aa9dfa;
  color: white;
}

.hero__link:focus {
  background: #aa9dfa;
  border: 2px solid #4f28a5;
}

.hero__link:active {
  background: #4f28a5;
}

.hero__image {
  width: 350px;
  padding-top: 38px;
}

/* ...
// all rules outside of @media queries apply to devices 1201px and above
... */

@media (max-width: 1200px) {
	/* ...1024
	// rules here apply to devices from 993px to 1200px (inclusive)
	... */

  .hero {
    min-height: 442px;
  }

  .hero__img {
    width: 256px;
    height: 262px;
  }
}
@media (max-width: 992px) {	
	/* ...768
	// rules here apply to devices from 761px to 992px (inclusive)
	... */
}
@media (max-width: 760px) {
	/* ...320
	// rules here apply to devices from 0px to 760px (inclusive)
	... */
}