.menu {
  min-height: 60px;
  border: 1px solid #e6e8ec;
}

.menu__content {
  display: flex;
  justify-items: space-between;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
  list-style: none;
}

.menu__item {
  font-size: 16px;
  line-height: 16px;
  margin-right: 52px;
}

.menu__card {
  display: flex;
  min-width: 175px;
}

.menu__card-img {
  width: 24px;
  margin-right: 8px;
}

.menu__card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: space-between;
}

.menu__card-title {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #a1a6b4;
  margin-bottom: 5px;
}

.menu__card-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #121723;
}


/* ...
// all rules outside of @media queries apply to devices 1201px and above
... */

@media (max-width: 1200px) {
	/* ...1024
	// rules here apply to devices from 993px to 1200px (inclusive)
	... */
  
  .menu__item {
    font-size: 16px;
    line-height: 16px;
    margin-right: 27px;
  }
  
  .menu__img23plus {
    display: none;
  }
}
@media (max-width: 992px) {	
	/* ...768
	// rules here apply to devices from 761px to 992px (inclusive)
	... */
}
@media (max-width: 760px) {
	/* ...320
	// rules here apply to devices from 0px to 760px (inclusive)
	... */
}