.modal {
  color: white;
  background: #121723;
  max-height: 100%;
  max-width: 100%;
  width: 824px;
  margin: auto;
  z-index: 1010;
  display: none;
  padding: 60px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal__title {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color: #ffffff;
  margin-bottom: 17px;
}

.modal__text {
  font-size: 20px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #ffffff;
  margin-bottom: 30px;
}

.modal__text-highlight {
  font-size: 20px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #6d31ee;
  padding-left: 4px;
}

.modal__form{
  border-bottom: 1px solid rgba(230, 232, 236, 0.4);
  margin-bottom: 30px;
}

.modal__social-header {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 30px;
}

.modal__close-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;

}

.open-modal {
  display: block;
}

/* ...
// all rules outside of @media queries apply to devices 1201px and above
... */

@media (max-width: 1200px) {
	/* ...1024
	// rules here apply to devices from 993px to 1200px (inclusive)
	... */
}
@media (max-width: 992px) {	
	/* ...768
	// rules here apply to devices from 761px to 992px (inclusive)
	... */
}
@media (max-width: 760px) {
	/* ...320
	// rules here apply to devices from 0px to 760px (inclusive)
	... */
}